#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.tareas-container {
  width: 100%;
}

input[type="text"],
input[type="submit"] {
  margin: 5px;
  padding: 15px;
  width: 35%;
  background-color: greenyellow;
  border: none;
  border-radius: 10px;
  color: rgb(0, 111, 148);
  box-shadow: 0px 0px 30px black;
  font-style: italic;
  cursor: pointer;
  opacity: 0.8;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

input[type="submit"]:hover {
  opacity: 1;
}

ul {
  list-style: none;
}
