 react//* google fonts */
* {
    box-sizing: border-box;
}

body {
    margin: 0px auto;
    max-width: 1268px;
}

.layout {
    margin: 0px auto;
    padding: 0px;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
}

ul {
    list-style: none;
}

.layout {
    display: grid;
    grid-template-areas: 
        "nav nav"
        "content aside";
    grid-template-rows: 60px auto auto;
    grid-template-columns: 70% 30%;
    width: 100%;
    height: 100%;
    max-height: 80rem;
}

/* Header.jsx styles */
.layout__navbar {
    display: flex;

    background-color: rgb(0, 102, 255);
}

.navbar__header {
    height: 65px;
    margin: 0.4rem;
    padding: 0.4rem;
}

.navbar__header a {
    color: white;
    line-height: 50px;
    text-decoration: none;
}

/* Nav.jsx styles */
.navbar__container-lists {
    display: flex;
}

.container-lists__menu-list {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.menu-list__item {
    
}

.menu-list__item .menu-list__link {
    margin: 0.5rem;
    padding: 0.5rem;
    color: white;
    text-decoration: none;
}

.menu-list__item .menu-list__link span {
    margin: 0.3rem;
}

.menu-list__item .menu-list__title {

}

.container-lists__list-end {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    align-content: flex-end;
}

.list-end__item {

}

.list-end__item .list-end__link, .list-end__link-image {
    margin: 0.3rem;
    padding: 0.3rem;
    color: white;
    text-decoration: none;
}

.list-end__link-image img {
    width: 45px;
    height: 40px;
}

.list-end__item .list-end__link span {
    margin: 0.3rem;
}

.list-end__item .list-end__link-image {

}

/* Feed.jsx */
.content__header {

}
 
.content__title {
    font-size: 2em;
    margin: 1rem;
}

.content__button {
    background-color: green;
    padding: 0.4rem;
    border: none;
    color: white;
    font-weight: lighter;
}

.content__posts {
    max-width: 80%;
    margin: 1rem;
    padding: 1rem;
    border: 2px solid #eee;
}

.posts__post {

}

.post_container {

}

.post__image-user {
    display: flex;
    flex-direction: column;
}

.post__image-link img {
    width: 70px;
    height: 60px;
}

.post__body {
    padding: 1rem;
}

.post__user-info {
    margin: 1rem;
}

.post__user-info .user-info__name {
    padding: 0.5rem;
    color: blue;
}

.post__user-info .user-info__time {
    color: gray;
}

.post__user-info .post__user-delete {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.see__more-posts {
    display: flex;
    justify-content: center;
    align-items: center;

    margin-top: 1rem;
}

.see__more-posts .btn__see-more-posts {
    background-color: green;
    padding: 0.4rem;
    border: none;
    color: white;
    font-weight: lighter;
}

/* Register.jsx styles */
.content__header {
    width: 100%;
    border-bottom: 1px solid rgb(0, 102, 255);
    margin-top: 1rem;
    margin-bottom: 2rem;
    padding-bottom: 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.content__header--public {
    margin-top: 1.5rem;
    padding: 1.5rem;
}

.content__posts {
    max-width: 768px;
    margin: 1rem;
    padding: 1rem;
}

.alert {
    width: 50%;
    display: block;

    margin-bottom: 1rem;
    color: white;
}

.alert-success {
    background-color: green;
    border: 2px solid lightgreen;
    border-radius: 5px;
    color: white;
    margin: 1rem;
    padding: 1rem;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.alert-danger {
    background-color: red;
    color: black;
    padding: 1rem;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.register-form {
    display: flex;
    flex-direction: column;
}

.form-group {
    margin: 1rem 0rem 1rem 0rem;
}

.form-group label {
    margin: 0.5rem;
}

.form-group input[type="text"],
.form-group input[type="email"],
.form-group input[type="password"] {
    border-radius: 5px;
    padding: 0.5rem;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.register-btn,
.login-btn {
    background-color: green;
    border-radius: 5px;
    color: white;
    padding: 0.7rem;
    cursor: pointer;
    transition: all 300ms;
    -webkit-transition: all 300ms;
    -moz-transition: all 300ms;
    -ms-transition: all 300ms;
    -o-transition: all 300ms;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.register-btn:hover,
.login-btn:hover {
    background-color: greenyellow;
}

/* Sidebar.jsx styles */
.layout__aside {
    display: flex;
    flex-direction: column;
}

.aside__header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.aside__title {
    font-size: 2rem;
    font-weight: bold;
}

.aside__container {
    display: flex;
}

.aside__profile-info {
    display: flex;  
}

.profile-info__general-info {
    display: flex;
    border: 2px solid #eee;

    margin: 1rem;
    padding: 1rem;
}

.general-info__container-avatar img {
    width: 80px;
    height: 60px;
}

.general-info__container-names {
    display: flex;
    flex-direction: column;
    margin-left: 0.8rem;
}

.general-info__profile-follows {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;

    border-left: 1px solid #eee;
    color: gray;
    margin: 1rem;
    padding: 0.4rem;
}

.general-info__profile-follows strong {
    color: green;
}

.aside__container-form {
    width: 40%;
    border: 1px solid #eee;
    margin: 1rem;
    padding: 1rem;
}

.form-post__label {
    font-weight: bold;
    margin-bottom: 1rem;
}

.form-post__textarea {
    margin-top: 0.7rem;
    border: 1px solid #ccc;
    color: green;
}

.form-post__inputs input[type="file"] {
    margin-top: 1rem;
}

.form-post__btn-submit {
    margin-top: 1rem;
    margin-bottom: 0.8rem;
    border: none;
    background-color: green;
    color: white;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    cursor: pointer;
    transition: all 300ms;
    -webkit-transition: all 300ms;
    -moz-transition: all 300ms;
    -ms-transition: all 300ms;
    -o-transition: all 300ms;
}

.form-post__btn-submit:hover {
    background-color: greenyellow;
}